<div id="<%= dom_id competition %>">
  <p>
    <strong>Name:</strong>
    <%= competition.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= competition.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= competition.end_date %>
  </p>

</div>
