<li class="prize-item">
  <div class="prize-title">
    <strong>Name:</strong>
    <%= prize.name %>
  </div>

  <% if prize.winner_id %>
  <% winner = Applicant.find(prize.winner_id) %>
  <h3>Winner: <%= winner.name %> <%= winner.order_id %></h3>
<% else %>
  <p>No winner generated yet.</p>
  <%= button_to "Generate Winner", generate_winner_prize_path(prize), method: :post %>
<% end %>

</li>
