<p style="color: green"><%= notice %></p>

<%= image_tag("bike-prize.jpg", width: 600) %>

<%= render @competition %>

<!-- Render child records -->
<ul class="prize-list">
<% @competition.prizes.each do |child_record| %>
  <%= render partial: 'competitions/prize', locals: { prize: child_record } %>
<% end %>
</ul>
