<p id="notice" style="color: green"><%= notice %></p>

<%= image_tag("bike-prize-2.jpg", width: '100%') %>

<%= render @competition %>

<!-- Render child records -->
<ul class="prize-list">
<% @competition.prizes.order(:prize_position).each do |child_record| %>
  <%= render partial: 'competitions/prize', locals: { prize: child_record } %>
<% end %>
</ul>
