.prize-list {
  list-style: none;
  padding: 0;
}

.prize-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.prize-title {
  font-size: 18px;
  font-weight: bold;
}

.prize-description {
  margin-top: 5px;
}

.prize-image img {
  max-width: 200px;
  max-height: 200px;
}

.prize-winner {
    background-color: cyan;
}