<div id="<%= dom_id prize %>">
  <p>
    <strong>Name:</strong>
    <%= prize.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= prize.value %>
  </p>

  <p>
    <strong>Competition:</strong>
    <%= prize.competition_id %>
  </p>

</div>
